.mainbody
{
    /*background-color: darkred;*/
    /*height: 90%;*/
    border-radius: 5px;
    /*margin-left: 2%;*/
    /*margin-right: 2%;*/
}
.topBanner {
    /*background-color: rgba(255, 0, 0, 0.2);*/
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqcI2fZeHkaFSX29aTU4CGflMO1xboLU8hgIm6nuz23yzKIhG3");
    /*background-image:url(img/home.jpg);*/
    background-size: cover;
    /*background-repeat: no-repeat;*/
    align-content: center;
    padding-top: 20%;
    padding-bottom: 25%;
}

.search
{
    width: 70%;
    margin-right: 5px;
border-style: none;

}
 .search input
 {
     height: 50px;
 }
.searchbtn
{
    height: 48px;
}

.logo
{
    position: absolute;
    z-index: 10;
    top: 10%;
    margin-left:40% ;
    width: 20%;

}
.logo1
{
    position: absolute;
    z-index: 10;
    size: B4;
    visibility: hidden;
    margin-left:2% ;
    margin-top: 1%;
}
.login
{
    position: absolute;
    top: 0%;
    left: 90%;
    background: none;
    font-size: large;
}
.register
{
    font-size: large;
    position: absolute;
    top: 0%;
    left: 84%;
    border-color: #fff;
    background: none;
    color: #fff;
}
.login:hover
{
    text-decoration:underline;
    display:inline-block;
    text-decoration-color: black;

}
.register:hover
{
    background-color: white;
    color: gray;
}
.card
{
    margin: 20px;
    width: max-content;
    height: 400px;
    padding: 0%;
    /*background-color: rgba(170, 51, 51, .5) ;*/
}

.card-title {
    color: black;
    padding: 2%;
}

.card-title:hover {
    color: black;
}
.row {
    margin-left: 10%;
    margin-top: 2%;
}

label
{
    font-size: large;
}

.heading
{
    font-size: medium;
    font-family: Arial;
}



.category{

    color: white;

    text-decoration: none;
    font-size: large;
}



.category:hover {

    text-decoration: none;

    color: darkblue;

}



.category:active, .category:focus {

    text-decoration: none;
    color: black;

}



