.mainbody
{
    /*background-color: darkred;*/
    /*height: 90%;*/
    border-radius: 5px;
    /*margin-left: 2%;*/
    /*margin-right: 2%;*/
}
.topBanner {
    /*background-color: rgba(255, 0, 0, 0.2);*/
    /*background-image: url("http://bsnscb.com/data/out/168/27282522-salon-wallpapers.jpg");*/
    background-image:url(img/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
    padding-top: 20%;
    padding-bottom: 20%;
}
.categories
{
    padding-bottom: 1%;
}
.nav-item:hover
{
    border-radius: 5px;
    border: white;
    border-style: solid;
}

.nav-pills .active  {
    /*background-color: white;*/
    border-radius: 5px;
    border: white;
    border-style: solid;
}

.loggedIn
{
    visibility: hidden;
    position: absolute;
    top: 0%;
    left: 90%;
    background: none;
    font-size: large;
    color: #fff;
}
.loggedIn a
{
    font-size: large;
    color: #fff;
}

.search
{
    width: 70%;
    margin-right: 5px;
    border-style: none;

}
 .search input
 {
     height: 50px;
 }
.searchbtn
{
    height: 48px;
}

.logo
{
    position: absolute;
    z-index: 10;
    top: 5%;
    margin-left:40% ;
    width: 20%;

}
.logo1
{
    position: absolute;
    z-index: 10;
    size: B4;
    visibility: hidden;
    margin-left:2% ;
    margin-top: 1%;
}
.login
{
    position: absolute;
    top: 2%;
    left: 95%;
    background: none;
    font-size: large;
    color: #fff;
}
.register
{
    font-size: large;
    position: absolute;
    top: 2%;
    left: 89%;
    border-color: #fff;
    background: none;
    color: #fff;
}
.login:hover
{
    text-decoration:underline;
    display:inline-block;
    text-decoration-color: white;

}
.register:hover
{
    background-color: white;
    color: gray;
}
.card
{
    margin: 20px;
    width: max-content;
    height: 400px;
    padding: 0%;
    /*background-color: rgba(170, 51, 51, .5) ;*/
}

.card-title {
    color: black;
    padding: 2%;
}

.card-title:hover {
    color: black;
}
.nav {
    margin-top: 0;
    margin-left: 15%;
    /*margin-top: 2%;*/
}

label
{
    font-size: large;
}

.heading
{
    font-size: medium;
    font-family: Arial;
}



.nav-item {
    font-size: large;
    padding: 0.5%;
    margin-left: 3%;
    margin-right: 3%;
}

.nav-item label {
    color: white;
}
.sidebar {
    width:20%;
    border: 1px solid lightgray;
    visibility: hidden;
}
.w3-bar-block .active
{
    background-color: lightgray;
}

