#root
{
    background-color: #fff;
    margin-top: fill;
    /*overflow-y: auto;*/
}
footer
{
    z-index: 500;
    padding:1.5rem ;
    background: #404040;
    color:#999 ;
    font-size: 0.85em;
    overflow-x: hidden;
    text-align: center;
}