.img{
    width: 10px;
    height: 150px;
}

.crop {
    width: 250px;
    height: 200px;
    overflow: hidden;
}

.crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}
/*
.card {

    max-width: 230px;
    max-height: 320px;
    margin: auto;
    text-align: center;
    font-family: Cambria;
}

cardH1 {
    color: orangered;
    font-size:35px;
}
rcorners2 {
    border-radius: 11px;
    border: 2px solid #73AD20;
    padding: 5px;
    width: 100px;
    height: 80px;
}
.btn {
    background-color: Red; !* Blue background *!
    border: none; !* Remove borders *!
    color: white; !* White text *!
    padding: 12px 16px; !* Some padding *!
    font-size: 16px; !* Set a font size *!
    cursor: pointer; !* Mouse pointer on hover *!
}

!* Darker background on mouse-over *!
.btn:hover {
    background-color: RoyalBlue;
}

!*
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
*!
*/
