.topBanner
{
    padding-top: 2%;
    padding-bottom: 0%;
}
.logo
{
    visibility: hidden;
}
.logo1
{
    visibility: visible;
    margin-top: 1%;
}

.sidebar
{
    visibility: hidden;
}
.img{
    width: 10px;
    height: 150px;
}

.crop {
    width: 250px;
    height: 200px;
    overflow: hidden;
}

.crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}


.logo
{
    visibility: hidden;
}
.logo1
{
    visibility: visible;
    margin-top: 1%;
}