h1
{
    margin-top: 2%;
    font-family: "Times New Roman";
}

.item
{
    margin-right: 10%;
    margin-left: 10%;
    z-index: 60;
    position: relative;
    background: white;
}
.card
{
    padding: 0%;
    font-family:  "Times New Roman";
    margin-left: 0%;
}

.card-text
{
    padding: 2%;

}

.topBanner
{
    padding-top: 2%;
    padding-bottom: 0%;
}

.like
{
    margin-right: 30%;
    margin-bottom: 10%;
    margin-top: 5%;
    width: 10%;
    padding: 2%;
    font-size: large;
}
.image
{
    margin: 10px;
    /*border-radius: 8px;*/
    transition: transform .5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image:hover
{
    transform:scale(1.5);
}

.col-8 .list-group-item
{
    border: none;
}

.category1{

    color: red;

    text-decoration: black;
    font-size: medium;
    margin: 2px;
}



.category1:hover {

    text-decoration: none;

    color: black;

}



.category1:active, .category1:focus {

    text-decoration: none;
    color: black;

}

.side
{
    margin-top: 20%;
}

.timing
{
    margin-left: 20%;
    font-size: medium;
    font-family: "Verdana";
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 40%;
    height: 12%;
    padding-right: 0%;
    margin-bottom: 0%;
    margin-top: 0%;

}
.clock{
    width: 10%;
    padding-top: 7%;
    padding-left: 5%;
    padding-bottom: 2%;
}


.time-text{
    width: 100%;
    border-style: none;
    margin-left: 2%;
    margin-right: 20%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 0%;

}

.time {
    padding-right: 0px;
}

.time-text .fa
{
    color : red;
}

.reviews
{
    border-style: none;
    padding: 10px;
}

.reviews p {
    height: max-content;
}

.submit
{
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
}